{% include header.html %}

   <div class="row">
      <div class="col-lg-8">
         {{ content }}
      </div>

      <div class="col-md-4">

         <div class="well">
            <h4>About me</h4>
            <p>Hi there I'm Alexander and I work as DevOps/Lead developer in Moscow. In spare
              time I develop pet project(skukit.com) with my friend(mickyto). In this blog I share some practices and use cases I came accross during development.
              I describe only new tools here so be aware that it might be not the best solution for you and don't hesitate to criticise me and propose better
              ways to accomplish the same results.
              If you need devops or php/go mentor I can help you for free.
              If I'm not writing code I'm probably playing voleyball.
              Planning to visit Moscow?? Find me on couchsurfing and I'll share my appartment with you.
            </p>
         </div>

      </div>
   </div>
{% include footer.html %}
